Hello to Anible Role in LA WEB WORLD !!!
<h1> Welcome To The Ansible Role WEB WORLD...!!! \n
Hostname :: {{ ansible_nodename | lower }} And \n 
OS Family :: {{ ansible_os_family | upper }} !!! \n
DocumentRoot :: {{ DocumentRoot }} \n
Httpd Port :: {{ http_port }} </h1>
